<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">


    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <property name="LOG_HOME" value="${user.dir}/logs/"/>
    <property name="APP_NAME" value="log"/>


    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 日志输出编码 -->
        <!-- <Encoding>UTF-8</Encoding> -->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </layout>
    </appender>

    <!-- 按照每天生成日志文件 -->
    <appender name="WriteLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_HOME}/${APP_NAME}.%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </layout>
    </appender>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.apache" level="ERROR"/>


    <root level="INFO">
        <appender-ref ref="Console"/>
        <appender-ref ref="WriteLog"/>
    </root>
</configuration>